.nav1{
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgba(245, 245, 220, 0.833);
    margin: 0%;
    padding: 5px;
}
.nav1 ul{
    list-style-type: none;
    display: flex;
    justify-content:space-evenly;
    margin: 4px;
    padding: 0%;
}
.nav1 li{
    margin-top: 2px;
    display: inline;
}
.nav1 a{
    text-decoration: none;
    color: black;
    position: relative;
}
.nav1 button{
    background-color: rgba(165, 42, 42, 0.445);
    color: black;
    border-radius: 8px;
    padding: 3px;
}
.nav1 a::after{
    content:"abc";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left:0;
    background-color: rgba(0, 0, 0, 0.377);
    transform: scaleY(0);
    transition: transform 0.3s
    ease-in-out;
}
.nav1 a:hover::after{
    transform: scaleX(1);
}
.nav2{
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(19, 172, 121);
    padding: 0%;
    margin-top: 4px;
}
.nav2 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 4px;
    padding: 4px;
}
.nav2 a{
    text-decoration: none;
    color: black;
    position: relative;
}
.nav2 button{
    background-color: rgba(0, 128, 0, 0.292);
    border: 2px solid black;
    border-radius: 6px;
    padding: 4px;
}
.nav2 li{
    margin-top: 4px;
    display: inline;
}
.nav2 a::after{
    content: "HI";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: scaleY(0);
    background-color: white;
    transition: transform 0.3s
    ease-in-out;
}
.nav2 a:hover::after{
    transform: scaleX(1);
}
.nav3{
    background-color: rgb(9, 147, 23);
    border-radius: 6px;
    margin-top: 6px;
    padding: 4px;
}
.nav3 ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
.nav3 li{
    margin: 8px;
}
.nav3 a{
    color: aliceblue;
    text-decoration: none;
    display: block;
    padding: 4px;
    width: 100%;
}
.nav3 button{
    background-color:rgb(27, 224, 53);
    padding: 6px;
    border: none;
    border-radius: 4px;
    margin-left: 4px;
    width: 100%;
}
.nav3 a:hover{
    background-color: rgb(8, 88, 16);
    border-radius: 4px;
    cursor:pointer;
}
.nav3 button:hover{
    background-color: rgba(27, 224, 53, 0.705);
}
.nav4{
    background-color: rgb(16, 152, 231);
    border: none;
    border-radius: 6px;
    margin: 0;
    padding: 0;
}
.nav4 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px;
    margin: 6px;
}
.nav4 li{
    margin: 4px;
    padding:2px;
}
.nav4 a{
    text-decoration: none;
    color: white;
    padding: 6px;
    display: block;
}
.nav4 .dropdown{
    display:none;
}
.nav4 button{
    background-color: rgb(15, 184, 231);
    border: 2px solid black;
    border-radius: 6px;
    padding: 4px;
    margin: 4px;
}
.nav4 .hey:hover .dropdown{
    display: block;
    position: absolute;
    background-color:rgba(17, 44, 181, 0.53);
    border-radius: 6px;

}
.nav4 button:hover{
    background-color: rgba(15, 184, 231, 0.719);
}